* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  height: 100vh;
  font-family: Roboto, sans-serif;
  color: #423c3c;
}

.app_top {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.time {
  flex: 0 0 50%;
  text-align: center;
  font-family: Inconsolata, sans-serif;
  line-height: 40px;
  font-size: 36px;
}

.lap-container {
  width: 100%;
  max-height: 60vh;
  overflow: auto;
}

.lap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
  padding: 20px 5px 10px;
}

.lap .time {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
}

.lap__count,
.lap__time,
.lap__diff {
  margin: 0px 5px;
}

.lap__time {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}

.lap__diff {
  font-size: 13px;
  line-height: 17px;
}

.controller-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  margin: 0px 15px;
  min-width: 300px;
  min-height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.btn-container button {
  height: 100%;
  flex-basis: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.btn-container .btn_twin {
  border-right: 1px solid #ccc;
}
